{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <h1>회원 정보 수정</h1>
<form action = "" method = 'POST' enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form post_form %}
    {% if image_form %}
        {% bootstrap_form image_form show_label=False %}
    {% endif %}
    <button type="submit" class="btn btn-danger">Submit</button>
    <button type="reset" class="btn btn-warning">cancel</button>
    <a href="{% url 'posts:list' %}" class="btn btn-success">Back</a>
</form>
<hr>
<form = action="{% url 'accounts:delete' %}" method="POST" onsubmit="return confirm('R U SURE?');">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">회원탈퇴</button>
</form>
{% endblock %}